<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de Usuario</title>
</head>
<body>
    <div class="form-log">
    <form action="login.html" method="post">
    <p><input type="text" name="usuario" placeholder="Nombre de Usuario"></p>
    <p><input type="password" name="contraseña" placeholder="Elegí tu contraseña"></p>

    <div>
    <button type="submit">Enviar</button>
</div>
</form>
</div> 



</body>