<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Registro</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/6f9fa3ad53.js" crossorigin="anonymous"></script>
    <link href="css/styles.css" rel="stylesheet" />
  </head>
<body>
    <header>

        <div class="top-header">
         <div class="container">
          <div class="logo">
            <img src="/images/logo-mercado-liebre.svg">
          </div>
        </div>
  
          <div class="search-container">
            <div class="search-bar">
              <input type="text" name="search" placeholder="Buscar productos, marcas y más">
            </div>
  
            <div class="search-logo">
              <i class="fa-solid fa-magnifying-glass search-icon"></i>
            </div>
          </div>
          <p>
            <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
            de crédito
          </p>
        </div>
        <nav class="menu-nav">
          <ul class="site-bar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
          <ul class="login-bar">
            <li>
              <a href="/register"
                >Creá tu cuenta <i class="far fa-address-card"></i
              ></a>
            </li>
            <li>
              <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
            </li>
            <li>
              <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
            </li>
          </ul>
        </nav>
  
        <div class="burger-menu">
          <i class="fa fa-bars burger"></i>
        </div>
      </header>
      <section class="banner">
        <img src="images/img-home-banner.jpg" alt="banner de ofertas" />
      </section>
        <main>

    <div class="form-log">
    <form action="login.html" method="post">
    <p><input type="text" name="usuario" placeholder="Nombre de Usuario"></p>
    <p><input type="password" name="contraseña" placeholder="Elegí tu contraseña"></p>

    <div>
    <button class="submit" type="submit">Enviar</button>
</div>
</form>
</main>
</div> 
<footer>
    <div class="conteiner-footer">
    <article class="pay">
      <p class="iconfooter">
        <i class="fas fa-credit-card"></i>
      </p>
      <h4>Pagá con tarjeta o en efectivo</h4>
      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
        efectivo en puntos de pago.¡Y siempre es seguro!
      </p>
    </article>

    <article class="ship">
      <p class="iconfooter">
        <i class="fas fa-gift"></i>
      </p>
      <h4>Envío gratis desde $ 2.500</h4>
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
        miles de productos. Es un beneficio de Mercado Puntos.
      </p>
    </article>
    <article class="security">
      <p class="iconfooter">
        <i class="fas fa-user-shield"></i>
      </p>
      <h4>Seguridad de principio a fin</h4>
      <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>
    </article>
  </div>
    <article>
      <br>

      <h6 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>

    </article>
  </footer>
</body>
</html>