*{
    box-sizing: border-box;
}

body{
    background-color: #EAC926;  
    font-family: 'Roboto', sans-serif; 
}
p{
    font-size: 12px;
    font-weight: bold;
}


.titulares{
    font-size: 24px;
}

.precio{
    font-size: 18px;
}
.descuento{
    font-size: 16px;
}
.descripcion{
    font-size: 16px;
}

.burger-menu{
    background-color: #1259c3;
    color:white;
    text-align: center;
    width: 25px;
    height: 20px;
    margin-left: 50%;
}
#textocuotas{
    text-align: center;
}

footer{
    background-color:  white;
    text-align: center;
    line-height: 14px;
    color:#666;
}

.iconfooter{
    font-size: 2em;
    color:#1259c3;
    margin-bottom: 10px;
}
.copyrigth{
    text-align: left;
}


    
    